.aa-layout__drawer { 

	 .aa-layout__title {
		padding-left: 40px;
		display: block;
		position: relative;
		font-size: 20px;
		line-height: 64px;
		letter-spacing: .02em;
		font-weight: 400;
		box-sizing: border-box;	
		
	}
}