.masthead {	
	width: 100%;
	min-height: 100vh;


	background-color: $bkColor;
	color: $defaultTextColor;
	
	.masthead-inner {
			.masthead-inner__text {
				margin-top: 25px;
				margin-bottom: 15px;
				color: $defaultTextColor
				
			}
		}
	
}

.masthead--gradient {
	&:before {
	background: linear-gradient(rgba(255, 255, 255, 0) 0px, rgb(0, 0, 0) 100%);
	background-position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	position: absolute;
	content:"";
	}
}