.modal-popup {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 25px 15px;
	background-color: $modalBkColor;
	color: $modalTxtColor;
	
	img {
		display: block;
		width: 30%;
		margin: 25px auto;
	}
	
	h1 {
		text-align: center;
	}
}
