tabs {
	&.blue {
		.tabs {
			li {
				border: $tabBlueBorder;
				color: $tabBlueText;
			}
			li.selected {
				background-color: $tabBlueBkColor;
				color: $tabBlueInvertedText;
			}
		}	
	}
	&.border {
		.tabs {
			li {
				border: $tabGoldBorder;
				color: $tabGoldText;
			}
			li.selected {
				background-color: $tabGoldBkColor;
				color: $tabGoldInvertedText;
			}
		}
	}
}