<div class="aa-patternlibrary">
	<div class="aa-layout__header"></div>
	<div class="aa-layout__drawer is-visible">
		<header>
			<h1 class="aa-layout__title">Pattern Library</h1>
		</header>
		<nav class="aa-nav">
			<a class="aa-nav__item" href="">Link</a>
			<a class="aa-nav__item" href="">Link</a>
			<a class="aa-nav__item" href="">Link</a>
			<a class="aa-nav__item" href="">Link</a>
			<a class="aa-nav__item" href="">Link</a>
		</nav>
		
	</div>
	<section id="aa-layout__content" class="content">
		<router-outlet></router-outlet>
	</section>
</div>