.aa-layout__header{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	box-sizing: border-box;
	flex-shrink: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	min-height: 64px;
	max-height: 1000px;
	z-index: 3;
	background-color: #2E3038;
	color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
	transition-timing-function: cubic-bezier(.4,0,.2,1);
	-webkit-transition-property: max-height,box-shadow;
	transition-property: max-height,box-shadow;
}
.aa-layout__drawer{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 240px;
	height: 100%;
	max-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	border-right: 1px solid rgb(224,224,224);
	background: rgb(250,250,250);
	transform: translateX(-250px);
	transform-style: preserve-3d;
	will-change: transform;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: transform;
	color: rgb(66,66,66);
	overflow: visible;
	overflow-y: auto;
	z-index: 5;
	
	&.is-visible {
		transform: translateX(0);
	}
}


.aa-layout__content {
	display: flex;
	flex: 1;
}