.aa-nav {
	flex-direction: column;
	align-items: stretch;
	.aa-nav__item {
		display: block;
		flex-shrink: 0;
		padding: 16px 40px;
		margin: 0;
		text-decoration: none;
		font-weight: 500;
		font-size: 13px;
		color: #757575;
		&:hover {
			background-color: #e0e0e0;
		}
	}
}